# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# misc
.env*

# editors
.vscode

config.ts
package.json
tsconfig.json
.DS_Store

